<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Spring Boot - Upload Status</h1>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div th:if="${path}">
    <h2 th:text="${path}"/>
</div>



 <table >
                        <tr>
                            <td>序号</td>
                            <td>文件名</td>
                           
                        </tr>

                        <#list  listFile  as e>
                            <tr>
                                <td>${e.name}</td>
                                <td>${e.a}</td>
                             
                            </tr>
                        </#list>
                   
                    </table>

</body>
</html>